body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
.bg-image{
    background-image: url(https://wallpaperaccess.com/full/89234.jpg);
    
    
    border-radius: 2rem;
    margin:5px;
}
.nav{
    
    color: white; 
    height: 15vh;
    margin-top: 10px;
    

}
.nav a{
    text-decoration: none;
    font-size: 2em;
    color: white;
    
    
}
nav ul a:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 5px;
}
.active{

    color: white;
    background-color:red;
    border: 1px;
    border-radius: 1rem;
    padding: 5px;
}



nav ul {
    width:60%;
    display: flex;
    list-style: none;
    justify-content:space-between;
    float: left;
    text-justify: center;
    margin-top: 5vh;
    
    
}
@media screen and (max-width:600px) {
    .nav{
        background-color: green;
        color: white; 
        height: 60vh;
        border-radius: 1rem;
        
        
    
    }
    nav ul {
        width:100%;
        display: flex;
        list-style: none;
        flex-direction: column;
        align-items: center;
        font-size: 1.4rem;
         margin-top: 5vh;
        
        
    }
    
    
}

nav ul:last-child{
    margin-right: 20px;
}
.srch{
    text-align: center;
    padding: none;
    background-attachment: fixed;
    height: 75vh;
    width: 100%;
    
    
    background-repeat: no-repeat;
    
    
}
.srch h1{
    text-align: center;
    color: rgb(3, 20, 3);
    padding: 20px;
    font-size: 4rem ;

}
.btn{
   
    border-radius: 1rem;
    border: 1px solid rgb(3, 20, 3);
    color: white;
    font-size: 1.2rem;
    background-color: rgb(3, 20, 3);
    width: 30%;
    height: 15%;
    margin-top: 10px;
    


}
.btn:hover{
    background-color: green;
    color: black;
    width: 31%;
    height: 15.5%;
    
}
.search{
    width: 70%;
    height: 15%;
    border-radius: 1rem;
    border: 2px solid rgb(3, 20, 3);
    font-size: 1.2rem;

}
.search:hover{
    width: 71%;
    height: 16%;
    
}
/*section-1*/
.section{
    margin-top: 10px;
    background-color: rgb(175, 235, 175);
    color: black;
    
    border-radius: 2rem;
}
.section h1{
    color:rgb(6, 61, 6);
    font-size: 3rem;
    padding: 10px;
    margin-left: 5%;
    text-align: center;
}
.section-list{
    list-style: none;
    margin: 10px;
    

}
.section-list li{
    height: 250px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 2rem;
    padding: 2px;
}
.section-list li:hover{
    border: 2px solid rgb(3, 20, 3);
    background-color: white;

}
.section-list li img{
    height: 250px;
    width: 30%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
    object-fit: cover;
    float: right;

}
.section-list li p{
    font-size: 1.4rem;
    text-align: justify;
    margin-right: 5px;

}
.footer{
    height: 200px;
    background-color: gray;
    color: white;
    border-radius: 2rem;
    margin: 10px;
    
    
    
    
}
.footer h2{

    padding: 10px;
    font-size: 2rem;
    text-align: center;
    
}
.footer p{
    text-align: center;
    font-size: 1.2rem;
}